@use 'mixins/helpers' as *;

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden !important;
  font-family: "Raleway";
}

.neumorph {
  @include neumorph();
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}